Package: com.morgrimm.morglyphs
Name: Morglyphs
Version: 1.0.12
Architecture: iphoneos-arm
Description: Additional glyph icons!
Author: Morgrimm
Maintainer: Morgrimm
Section: Themes
Homepage: https://github.com/morgrimm/morglyphs
